h1{
    text-align: right;
    font-size: 35px;
}
h2{
    text-align: right;
    font-size: 28px;
}
h3{
    text-align: right;
    font-size: 25px;
}
h4{
    text-align: right;
    font-size: 32px;
}
p{
    text-align: right;
    font-size: 30px;
}
